body {
     margin: 0;
     padding: 0;
     font-family: 'Quicksand';
}

#status-bar {
    width: 65%;
    display: flex;
    margin-top: 20px;
}

#welcome {
    font-size: 18px; 
    padding-right: 50px;
    margin-left: 50px;
}

#status {
    font-size: 18px;
    padding-right: 50px;
}

#welcome span, #status span {
    font-size: 30px;
}

#sidebar {
    top: 0;
    position: absolute;
    width: 300px;
    height: 100%;
    background: #000;
    padding: 0;
    left: auto;
    right: -300px;
    transition: 0.5s;
}

#sidebar h1 {
    color: white;
    text-align: center;
    margin-top: 35px;
}

#sidebar ul {
    margin-top: 30px;
   
}

#sidebar ul li {
    list-style-type: none;
    width: 100%;
    margin-left: -20px;
}

#sidebar .toggle-btn {
    position: absolute;
    top: 40px;
    left: auto;
    right: 330px;
}

.toggle-btn span {
    width: 40px;
    height: 4px;
    background-color: black;
    display: block;
    margin-top: 4px;

}


.options-button {
   
    font-family: 'Quicksand';
    background-color: black;
    border: none;
    color:white;
    font-size: 20px;
    padding: 20px;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 8px;
    outline:0;
    width: 100%;

}

.options-button:hover{
    background-color: white;
    color : black;
}

#change-password-box form {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 360px;
    align-items: center;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: appearChangePassword;
    animation-duration: 3s;
}

#change-password-box form #X-button-changePassword {
    width: 15%;
    outline:0;
}

#change-password-box form input {
    outline:0;
    width: 60%;
    height: 20px;
    margin: 10px;
    border: none;
    border-bottom: 2px solid black;
    justify-content: center;
    text-align: center;
    transition: 2s;
}

#change-password-box form input:focus {
    width: 70%;
    border-color: black;
}

#change-password-box form button {
    background-color: white;
    border: none;
    color:black;
    outline:0;
    font-size: 20px;
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
    width: 40%;
    margin: 10px;
    border-radius: 8px;
    font-weight: bolder;
}

#change-password-box form button:hover {
    background-color: black;
    color: white;
}

@keyframes appearChangePassword {
    0% {
        top: -40%;
    }

    50% {
        top: 65%;
    }

    100% {
        top: 50%;
    }
}

#returnMessage {
    text-align: center;
    animation-name: dissapear;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes dissapear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}